
/* I had to add these for the height to work because the parent tag has to also 
also for the child to span the 100% height */
html, #root, .App {
    height: 100%;
  }

.leftSide {
    background-color: #dce7f2;
    color: 374a5b;
    float: left;
    height: 100%;
    width:31%;
}

.rightSide {
    background-color: #ffffff;
    color: 374a5b;
    float: right;
    height: 100%;
    width:69%;

}


.pictureDiv, .featurePicture{
    width: 400px;
    height: 400px;
}
