
/* I had to add these for the height to work because the parent tag has to also 
also for the child to span the 100% height */
html, #root, .App {
    height: 100%;    
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  }

h1{
    font-weight: bolder;  

}


.leftSide {
    background-color: #dce7f2;
    color: 374a5b;
    float: left;
    height: 100%;
    width:31%;
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
}

.rightSide {
    background-color: #ffffff;
    color: 374a5b;
    float: right;
    height: 100%;
    width:69%;
    padding: 60px;

}

.bodySection{
    font-weight: light;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.descriptionAttr{
    list-style-type: disc;
    padding-right: 60px;
    padding-left: 10px;

}
.featurePicture{
    width: 390px;
    height: 420px;
    float: right;
    border: 8px solid #ACACAC;
}

