.navBar{
    width: 100%;
    background-color: #475468;
    color: white;
    padding: 10px;
    height: 120px;
   
}

.navBar ul{
    margin: 0; 
    padding: 0; 
 
}

.navBar li{
  display: inline-block;
    /* padding: 10px 0; */
    /* margin: 0 100px 0 0; */
    width: 200px;
    height: 100%;

}

.eachIcon{
    color: white;
    width: 65px;
    height: 65px;
}

.eachIcon:hover{
    color: white; 
    width: 70px;
    height: 70px;
}

.iconName{
    color: white;
    font-weight: bolder;
    padding: 5px;
}

h6{
    color: white;
    font-weight: bolder;
}