.fullForm{
    padding-right: 65px;
    padding-left: 65px;
    padding-bottom: 65px;
    padding-top: 30px;
    background-color: #ACACAC;
    margin: 50px;
}

.contactTitle{
    padding-top: 30px;
    font-weight: bolder;  
}

.instructionsForm{
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: large;
}